[Unit]
Description=Solar log data logger
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/docker/solar/solarlog-persist.sh run
ExecStop=/docker/solar/solarlog-persist.sh sync

[Install]
WantedBy=multi-user.target

